*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.0rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    height: 100%;
}

header{
    position: fixed;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #F55533;
}
.logo{
    height: 100%;
}

.logo a img{
    width: 100%;
    height: 100%;
}

main{
    position: absolute;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #F55533;
    margin-top: 7%;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: 15%;
    height: 100%;
    background-color: #F55533;
    position: relative;
    margin-left: 0%;
}


nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
    transition: all 0.5s ease;
    font-size: 2rem;
}

nav a:hover{
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: currentcolor;
    text-decoration-thickness: 2px;
  text-decoration-style: solid;

}


.profilephoto{
    width: 40%;
    height: 100%;
}
.profilephoto img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 30%;
}


.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  background-color: wheat;
}

.projects h1{
    font-size: 2rem;
}
.projectslist{
    width: 95%;
    height: 90%;
    border-top:2px solid black;
    overflow-y: scroll;
    /* scrollbar-width: thin; 
    scrollbar-color: blue black; */
}




.project1{
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

#p1{
    margin-top: 2%;
}
.projectimage{
    margin: 5px;
    width: 30%;
    height: 100%;
    border: 5px solid black;
    background-color:black;
}


.projectimage img{
    width: 100%;
    height: 100%;
    scale: 0.9;
}
.projectimage img:hover{
    scale:  1.0;
    transition: .5s,step-end;
}
.projectdescription{
    width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.desc{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 



}
.desc h1,.desc h2{
    font-size: 1.5rem;
    text-decoration: underline;
}
.project2{
    height: 70%;
}

.project2 .demobuttons{
    height: 20%;
}

/* .project2 .desc{
    margin-top: 2%;
} */
.demobuttons{
    height: 30%;
    width: 60%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.demobuttons a{
    width: 50%;
    height: 100%;
    text-decoration: none;
  margin: 2%;
}
.demobuttons a .demo1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6%/80%;
    background-color: black;
    box-shadow: 2px 2px 2px black;
    flex-wrap: wrap;
}

.demobuttons a .demo1 p{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}




.demo1:hover{
    cursor: pointer;
    scale:  1.1;
    transition: .2s,step-end;
    
    box-shadow: 5px 5px 6px black;
}


footer{
    position: absolute;
  width: 100%;
  height: 16%;
  /* border: 2px solid; */
  background-color: #f55533;
  margin-top: 40%;
  padding: 7px;
}

.logos{
    height: 50%;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo1{
    width: auto;
    height: 80%;
    border-radius: 20%;
    border: 2px solid black;
    box-shadow: 1px 3px 0px black;
    background-color: #f55533;
    padding: 5px;
    margin: 8px;
}

.logo1:hover{
    scale:  1.1;
    transition: .7s,step-end;
    
    box-shadow: 1px 5px 6px black;
}
.logo1 a svg{
    width: 100%;
    height: 100%;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}