body {
    margin: 0;
    padding: 0;
    background-color:cyan ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
ul li {
    display: inline;
    margin-right: 10px;
    list-style: none;
}
a {
    text-decoration: none;
    /* color: #333; */

}
section {
    padding: 20px;
    margin: 20px ;
}

#section1{
    background-color: rgb(43, 115, 178);
}

#section2{
    background-color: rgb(15, 213, 213);
}

#section3{
    background-color: bisque;
}