h1 {
    text-align: center;
    color: blue;
}

#para1,#para2,#para3,#para4{
    margin-top: 20px;
}

#para1 {
    text-align: right;
    margin-right: 20px;

}

#para2 {
    text-align: justify;
}

#para3 {
    text-align: left;
}

#para4 {
    text-align: center;
}
